body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.admin-form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.admin-form-container h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

.admin-form-container form {
    display: flex;
    flex-direction: column;
}

.admin-form-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-form-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-form-container button:hover {
    background-color: #0056b3;
}

.admin-form-container p {
    margin-top: 15px;
    text-align: center;
}
